* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
    padding-top: 60px;
}

.navbar {
    background-color: #57595B;
    color: #fff;
    margin: 0;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #FFC50F;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    padding-left: 0;
    margin-right: 10px;
}

.menu li a {
    padding: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.menu li a:hover {
    color: #FFC50F;
}

.main-header {
    background: url('background.webp') no-repeat center center;
    background-size: 100%;
    height: 90vh;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.main-header h1 {
    font-size: 55px;
    margin-left: 50px;
}

.main-header p {
    font-size: 20px;
    margin-left: 50px;
}

.about-us {
    padding: 50px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-wrapper {
    flex: 1;
    margin-right: 20px;
}

.about-image-wrapper {
    flex: 1;
}

.about-image-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Media queries untuk responsivitas */
@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        text-align: center;
    }

    .about-wrapper {
        margin-right: 0;
        margin-bottom: 20px;
    }
}