* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    line-height: 1.6;
}

.navbar {
    background-color: #57595B;
    color: #fff;
    margin: 0;
    padding: 10px 15px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #FFC50F;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    padding-left: 0;
    margin-right: 10px;
}

.menu li a {
    padding: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.menu li a:hover {
    color: #FFC50F;
}

.main-header {
    background: url('background.webp') no-repeat center center;
    background-size: 100%;
    height: 90vh;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.main-header h1 {
    font-size: 55px;
    margin-left: 50px;
}

.main-header p {
    font-size: 20px;
    margin-left: 50px;
}

.about-us {
    padding: 50px;
    text-align: left;
    
}